<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	 version="6.0">

    <filter>
        <filter-name>ManagerFilter</filter-name>
        <filter-class>controller.auth.ManagerFilter</filter-class>
    </filter>
    
    <filter>
        <filter-name>BlockJspHtmlFilter</filter-name>
        <filter-class>controller.auth.BlockJspHtmlFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>ManagerFilter</filter-name>
        <url-pattern>/manager/home</url-pattern>
        <url-pattern>/manager/addnews</url-pattern>
        <url-pattern>/manager/updateResidentStatus</url-pattern>
        <url-pattern>/manager/updateStaffStatus</url-pattern>
        <url-pattern>/manager/deleteStaff</url-pattern>
        <url-pattern>/manager/deleteResident</url-pattern>
        <url-pattern>/manager/insertResident</url-pattern>
        <url-pattern>/manager/insertStaff</url-pattern>
        <url-pattern>/manager/manageResident</url-pattern>
        <url-pattern>/manager/manageStaff</url-pattern>
        <url-pattern>/manager/request</url-pattern>
        
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>BlockJspHtmlFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
</web-app>
